.place__title {
    width: 484px;
    height: 152px;
    font-size: 75px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    grid-area: title;
    /* margin-bottom: 70px; */
}
@media screen and (max-width: 320px){
    .place__title {
        max-width: 320px;
        max-height: 35px;
        font-size: 30px;
        /* margin-left: 100px; */
        margin-bottom: 20px;
    }    
}
@media screen and (max-width: 768px){
    .place__title {
        max-width: 340px;
        min-height: 46px;
        font-size: 42px;
}
}

