.place__title {
    width: 484px;
    font-size: 75px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    grid-area: title;
}
@media screen and (max-width: 768px) {
    .place__title {
    font-size: 42px;
    width: 340px;
    }
}
@media screen and (max-width: 767px){
    .place__title  {
        font-size: 32px;
        line-height: 35px;
        /* font-weight: 900; */
        margin-left: auto;
        margin-right: auto;
    }    
}

