 .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2A2C29;
    min-width: 1250px;
    min-height: 6500px;
}
/*
@media screen and (min-width: 1250px) {
    .page {
        max-width: 320px;
        display: flex;
        justify-content: center;
        max-height: 580px;
    }
}