.header__title {
    max-width: 793px;
    height: 200px;
    left: 243px;
    top: 194px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 768px){
    .header__title {
        font-size: 45px;
        min-width: 288px;
        min-height: 88px;
    }
}
