.place {
    display: grid;
    /* grid-template-columns: 460px 460px; */
    /* grid-template-rows: 152px 460px 96px; */
    grid-template-areas:
        "title website"
        "image paragraphs"
        "button paragraphs";
    /* column-gap: 40px; */
    margin-bottom: 80px;
}
@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        min-height: 1169px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 768px) {
    .place {
        min-width: 768px;
        /* display: flex; */
        /* align-items: flex-start; */
        /* min-height: 1250px; */
        /* gap: 0; */
    }    
}