.button__paragraph {
    display: flex;
    flex-direction: row;
    padding: 13px 20px;
    gap: 10px;
    width: 255px;
    height: 38px;
    margin-top: 28px;
    background: #0278FE;
    border-radius: 4px;
    justify-content: center;
}
.button__paragraphs {
    display: flex;
    flex-direction: row;
    padding: 13px 20px;
    gap: 10px;
    width: 255px;
    height: 38px;
    margin-top: 28px;
    background: #0278FE;
    border-radius: 4px;
    justify-content: center;
}
@media screen and (max-width: 320px){
    .button__paragraph {
        min-width: 245px;
        max-height: 17px;
    }
    .button__paragraphs {
        min-width: 245px;
        max-height: 17px;
    }  
}