.intro__title {
    max-width: 1017px;
    font-family: Inter;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}  

@media screen and (min-width: 768px) and (max-width: 1289px){
    .intro__title {
        min-width: 720px;
        max-height: 232px;
    }
}
@media screen and (max-width: 767px){
    .intro__title  {
        font-size: 32px;
        line-height: 35px;
        font-weight: 900;
    }    
}