.place__image {
    width: 450px;
}
@media screen and (max-width: 767px){
    .place__image {
        width: 320px;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 768px){
    .place__image {
    width: 340px;
    }    
}