.photo__grid {
    max-width: 1200px;
    max-height: 442px;
    margin-bottom: 80px;
    margin-top: 75px;
    margin-left: 160px;
}
@media screen and (min-width: 768px){
    .photo__grid {
        min-width: 720px;
        max-height: 1200px;
        margin-top: 300px;
        }
   
}
@media screen and (max-width: 320px){
    .photo__grid {
        min-width: 320px;
        min-height: 1100px;
        margin-top: 250px;
        margin-bottom: 668px;
        margin-left: auto;
        margin-right: auto;
    }
}