.intro__text {
    max-width: 722px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
@media screen and (max-width: 768px){
    .intro__text {
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
    }
}