.intro__text-city {
    width: 720px;
    height: 182px;
    left: 148px;
    top: 1603px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}