.intro__text-author {
    max-width: 720px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 163%;
    color: #FFFFFF;
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
}
