.header {
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 983px;
}

@media screen and (max-width: 1250px){
    .header {
        max-width: 320px;
        min-height: 120px;
    }
}


