.header {
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 983px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 320px){
    .header {
        min-width: 320px;
        min-height: 150px;
        margin-bottom: 80px;
    }
}
@media screen and (min-width: 768px){
    .header {
        max-width: 768px;
        max-height: 500px;
    }    
}


