.cover__subtitle {
    margin-top: 8px;
    margin-bottom: 8px;
}
@media screen and (max-width: 320px){
    .cover__subtitle {
        /* margin-bottom: 0px; */
        position: relative;
        bottom: 35px;
    }    
}