.intro {
    display: flex;
    flex-direction: column;
    width: 1017px;
    height: 516px;
    left: 148px;
    top: 1269px;
}
@media screen and (max-width: 1250px){
    .header {
        max-width: 320px;
    }
}