.cover {
    max-width: 1184px;
    height: 740px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

@media screen and (max-width: 320px){
    .cover {
        max-width: 322px;
        max-height: 254px;
    }
}
@media screen and (min-width: 768px) {
    .cover {
        min-width: 768px;
        min-height: 746px;
    }
}
