.header__image {
    min-height: 615px;
    filter: grayscale(1);
    max-width: 984px;
}
.header__image-gallery {
    min-width: 300px;
    height: 120px;
    }
@media screen and (max-width: 980px){
    .header__image {
        max-width: 320px;
        min-height: 216px;
    }
    .header__image-gallery {
        max-width: 320px;
        max-height: 100px;
    }
}