.header__image {
    width: 984px;
    filter: grayscale(1);
}
.header__image-gallery {
    width: 300px;
    }
    @media screen and (min-width: 320px){
        .header__image {
            width: 320px;
        }
        .header__image-gallery {
            width: 320px;
        }
    }
    @media screen and (min-width: 768px){
        .header__image {
            width: 768px;
        }        
    }