.footer {
    width: 191px;
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}