.place__website {
    grid-area: website;
    margin-top: 70px;
}
@media screen and (min-width: 320px){
    .place__website {
        width: 286px;
        /* position: relative; */
    }
}
@media screen and (max-width: 768px){
    .place__website {
        max-width: 768px;
        /* margin-left: -80px; */
    }
}
