.place__paragraph {
    grid-area: paragraphs;
    /* margin-top: 40px; */
}

@media screen and (max-width: 320px){
    .place__paragraph {
        max-width: 320px;
        /* min-height: 1169px; */
        /* display: block; */
        /* margin-right: -300px; */
    }
}
@media screen and (min-width: 768px){
    .place__paragraph {
        max-width: 352px;
        max-height: 234px;
        margin-bottom: 20px;
        /* position: relative; */
        /* left: -100px; */
        /* margin-left: -100px; */
    }    
}