.photo__grid {
    min-width: 1200px;
    min-height: 442px;
    margin-bottom: 80px;
    margin-top: 75px;
    
}
.photo__grid-item {
    width: 284px;
    height: 213px;
    margin-left: 8px;
    margin-top: 8px;
    }
@media screen and (min-width: 320px){
    .photo__grid {
        min-width: 320px;
    }
    .photo__grid-item {
        min-width: 288px;
        min-height: 216px;
    }
}