.button {
    grid-area: button;
    width: 315px;
    height: 30px;
    margin-top: 60px;
    background-color: #0278FE;
    color: white;
    border-style: none;
}
.button:hover {
    background-color: #0063D2;
}
@media screen and (max-width: 320px){
    .button {
        max-width: 268px;
        max-height: 48px;
        bottom: -990px;
        position: relative;
    }
}