.button {
    grid-area: button;
}
.button_two {
    grid-area: button;
}
@media screen and (max-width: 320px){
    .button {
        bottom: -1000px;
        position: relative;
    }
    .button_two  {
        bottom: -999px;
        position: relative;
    }
}